.hero {
  height: 100vh;
  width: 100vw;
  padding: 40px 40px;
}

.one-one {
  grid-area: one-one;
  cursor: pointer;
}
.one-two {
  grid-area: one-two;
}
.two-one {
  grid-area: two-one;
}
.two-two {
  grid-area: two-two;
}
.three-one {
  grid-area: three-one;
}
.three-two {
  grid-area: three-two;
}

.one-one,
.one-two,
.two-one,
.two-two,
.three-one,
.three-two {
  height: 1fr;
}

.main {
  height: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "one-one one-two one-two one-two one-two"
    "two-one two-one two-one two-two two-two"
    "three-one three-one three-two three-two three-two";
  gap: 30px;
}
