node_modules

.env
redis.env
prod.env

.github

/e2e
/mocks
/planent-scale
/seedData
/test

/cypress/screenshots
/cypress/videos

/prisma/data.db
/prisma/data.db-journal

/app/styles/app.css
/storage
/playwright-report