node_modules/


.env
redis.env
prod.env

.github/
.git/
/public/build
/e2e/
/mocks/
/planent-scale/
/test/

/cypress/screenshots/
/cypress/videos/

/prisma/data.db/
/prisma/data.db-journal/

/app/styles/app.css/
/storage/
/playwright-report/